/* 通用样式 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* 容器样式 */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* 标头样式 */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

/* 主要内容样式 */
main {
    flex: 1;
    padding: 20px;
}

/* 导航样式 */
nav {
    margin: 20px auto;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    position: relative;
    padding-left: 25px;
}

nav a::before {
    content: '\25B6'; /* Unicode for black right-pointing triangle */
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2em;
    color: #007BFF;
}

nav a:hover {
    color: #007BFF;
}

/* 页脚样式 */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

/* 响应式设计 */
@media (max-width: 600px) {
    nav li {
        display: block;
        margin: 10px 0;
    }
}
